.app{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, #6c909d, #7fa4b5, #93b9cd, #a8cee6, #bee3ff);
    height: 100%;
}