.town{
    font-size: 24px;
}

.weatherDescription{
    font-size: 14px;
}

.upperDisplayBar div{
    display: flex;
    align-items: center;
    justify-content: center;
}

p{
    margin: 0.5rem 0;
    text-align: center;
}

.upperDisplayBar img{
    margin-right: -0.225rem;
}

.upperDisplayBar span {
    padding-right: var(--spacer)
}

