.forecast{
    width: 300px;
    display: flex;
    flex-direction: column;
    width: max-content;

}

.data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: var(--font-size-regular);
}