.forecast{
    width: 300px;
    display: flex;
    flex-direction: column;
    width: max-content;

}

.weather-panel{
    display: flex;
    justify-content: center;
}

.town{
    font-size: 24px;
}

.weatherDescription{
    font-size: 14px;
}

p{
    margin: 0.5rem 0;
    text-align: center;
}

.temperature {
    text-align: center;
    font-size: 40px;
}
img{
    display: inline-block;
}

.data{
    display: flex;
    justify-content: center;
    font-size: 13px;
}

.data div{
    /* wdth: 50%; */
    text-align: center;
    margin: 10px 5px;
}

.data span{
    margin-left: 5px;
}

.wi-thermometer{
    color: var(--max-temp-color);
}

.wi-thermometer-exterior{
    color: var(--min-temp-color);
}