.app{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family: var(--font-family);
    font-size: var(--font-size-regular);
    color: var(--font-color);
}

.clear-weather{ background: var(--clear-weather-color) }
.mist-weather{ background: var(--mist-weather-color) }
.grey-weather{ background: var(--grey-weather-color) }
.storm-weather{ background: var(--storm-weather-color) }
.cloudy-weather{ background: var(--cloudly-weather-color) }
.drizzle{ background: var(--cloudly-weather-color) }
.snow{ background: var(--snow-weather-color) }
