.app{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family: var(--font-family);
    font-size: var(--font-size-regular);
    color: var(--font-color);
}

.clear-sky{ background: var(--clear-weather-color) }
.mist{ background: var(--cloudly-weather-color) }
.rain{ background: var(--grey-weather-color) }
.thunderstorm{ background: var(--storm-weather-color) }
.few-clouds{ background: var(--cloudly-weather-color) }
.drizzle{ background: var(--cloudly-weather-color) }
.snow{ background: var(--snow-weather-color) }
